
@{
    ViewBag.Title = "Index";
}

<!--Home Page ,Showing Welcome Message To User-->
<!-- Comes After Successfull Login-->
<!-- Session["Username"] Stores Current Username-->
<div class="card text-center border-primary mb-3 shadow p-3 mb-5 bg-white " style="margin-top:50px; border-radius:8px;">
    <div class="card-body text-primary">Welcome @Session["Username"]</div>
</div>
